<div class="footer" style="width:96%">
  <div class="col-xs-12 well" style="padding:3px!important">
    <div class="col-xs-7">

    <p>
      <img alt="" src="https://www.jetblue.com/img/jbapp-icon.png?v=1" title="JetBlue App Icon" class="footer-img">
      <strong class="fine-print">Same smart app. More smartphones.</strong>
        <br/><span class="fine-print"><a >Download the JetBlue mobile app for iPhone and Android now!</a></span>
    </p>
    </div>
    <div class="col-xs-5">
    <div class="clearfix" style="padding-top: 5px;">
      <input id="search-box" placeholder="Search jetblue.com" style="float: left; display: block;" type="text" class="form-control">
    </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-5">

      <!-- Social Links Block -->
       <div class="social-wrap clearfix">
         <ul class="col-xs-12">
           <li style="padding-left: 2px;"> <a ><img src="/assets/images/blog.png"/>Blog </a><span>Your destination for JetBlue inspiration and beyond</span></li>
           <li style="padding-left: 2px;"> <a ><img src="/assets/images/sofly.png"/>SoFly</a></li>
           <li style="padding-left: 2px;"> <a ><img src="/assets/images/fb.png"/>Like us on Facebook</a></li>
           <li style="padding-left: 2px;"> <a ><img src="/assets/images/twitter.png"/>Follow us at @JetBlue</a></li>
           <li style="padding-left: 2px;"> <a ><img src="/assets/images/insta.jpg"/>Follow us on Instagram</a></li>
           <li style="padding-left: 2px;"> <a ><img src="/assets/images/you.png"/>Visit us on YouTube</a></li>
         </ul>
      </div>
      <!-- Social Links Block End -->


    </div>
<div class="sitemap-wrap col-xs-7">
  <ul class="col-xs-4">
    <li class="list-head"> Get to know us</li>
    <li style="padding-left: 2px;"> <a >About us</a></li>
    <li style="padding-left: 2px;"> <a >Press room</a></li>
    <li style="padding-left: 2px;"> <a >Promotions</a></li>
    <li style="padding-left: 2px;"> <a >CSR</a></li>
    <li style="padding-left: 2px;"> <a >Mobile</a></li>
    <li style="padding-left: 2px;"> <a  target="_blank">ShopBlue</a></li>
  </ul> <!-- /Get to know us -->
  <ul class="col-xs-4">
    <li class="list-head" style="padding-left: 0;"> Services</li>
    <li style="padding-left: 0;"> <a >Partner airlines</a></li>
    <li style="padding-left: 0;"> <a >Corporate</a></li>
    <li style="padding-left: 0;"> <a >Travel agents</a></li>
    <li style="padding-left: 0;"> <a >Special assistance</a></li>
    <li style="padding-left: 0;"> <a >Gift Cards</a></li>
    <li style="padding-left: 0;"> <a >Travel Insurance</a></li>
  </ul> <!-- /Services -->
  <ul class="col-xs-4">
    <li class="list-head" style="padding-left: 0;"> Talk to us</li>
    <li style="padding-left: 0;"> <a >Contact us</a></li>
    <li style="padding-left: 0;"> <a >Work here</a></li>
    <li style="padding-left: 0;"> <a >Legal</a></li>
    <li style="padding-left: 0;"> <a >Privacy</a></li>
    <li style="padding-left: 0;"> <a >Site map</a></li>
    <li style="padding-left: 0;"> <a >Website feedback</a></li>
  </ul> <!-- /Talk to us --> </div>
  </div>
  <div class="col-xs-12 fine-print">
  @2017 JetBlue Airways
  </div>

</div>
