
<div class="clearfix">

<div class="row">

		<div class="col-xs-3 well slide1">
		<a href="#" target="_blank" >

			<img  src="/assets/images/slider/s1.jpg" alt="" border="0">
      <h4>Help imaginations soar</h4>

			<span class="description" id="skdes01">
				Vote now to help us choose the next city to receive 100,000 books.
				<div class="skdisclaimer">

				</div>
			</span>
		</a>
	</div>



		<div class="col-xs-3 well slide1" >


		<a href="#" target="_self" >

			<img  src="/assets/images/slider/s2.jpg" alt="" border="0">
			<h4>Top 10 deals</h4>

			<span class="description" id="skdes02">
				Exclusive savings on flights and great hotels with JetBlue Vacations (air + hotel).

				<div class="skdisclaimer">

				</div>
			</span>
		</a>
	</div>



		<div class="col-xs-3 well slide1">


		<a href="#" target="_self" >

			<img  src="/assets/images/slider/s3.png" alt="" border="0">
      <h4>Adventures on Amazon</h4>
			<span class="description" id="skdes03">
				Now you can get your Amazon fix at 35,000 feet, PLUS 3 TrueBlue points per dollar spent on Amazon.com - in the air or at home.
				<div class="skdisclaimer">

				</div>
			</span>
		</a>
	</div>



		<div class="col-xs-3 well slide1" >


		<a href="#" target="_blank" >

			<img src="/assets/images/slider/s4.png" alt="" border="0">
      <h4>JetBlue in your pocket</h4>
			<span class="description" id="skdes04">
				Enjoy no annual fee* with the JetBlue Card.
				<div class="skdisclaimer">
					*See Terms &amp; Conditions for details.
				</div>
			</span>
		</a>
	</div>

  </div>
</div>
